@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700&display=swap");

* {
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.VFRContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.VFRBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("/images/Background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: -2;
}

.VFRThumbNail {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("/images/OGHeader.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: -1;
}

.VFRTitle {
  font-size: 4vw;
}

.VFRDescription {
  font-size: 2vw;
  margin-top: 1%;
}

.VFRMainSection {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 100px 20px;
  z-index: 10;
  height: 100vh;
}

.VFRSection:first-child {
  display: flex;
  flex-direction: column;
}

.VFRFlavourTitle {
  font-size: 12rem;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 2px 2px 160px rgba(0, 0, 0, 1);
}

.VFRSectionContainerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.VFRSection {
  background: rgba(0, 0, 0, 0.9);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px 20px;
  z-index: 10;
  padding: 2%;
  width: 100%;
}

.VFRDesktopImage,
.VFRMobileImage {
  max-width: 100%;
  height: auto;
  display: block;
  margin-top: 20px;
}

.VFRDesktopImageContainer,
.VFRMobileImageContainer {
  width: 50%;
}
